.env
.cache
db.sqlite3
JS/

Server/.cache
Server/__pycache__
DjangoServer/DjangoServer/__pycache__
DjangoServer/accounts/__pycache__
DjangoServer/QRSpotify/__pycache__
chosic-genres

helpers.py
spotify-genres.html
genre_data.json

*.cpython-311.pyc